.comment_all{
  width: 400px;
  margin: 30px auto;
}

.comment_all .commentSingle{
   font-size: 14px;
   margin-bottom: 30px;
 }

.comment_all h1{
  font-size: 20px;
  margin-bottom: 30px;
}

.comment_all .commentSingle p {
  margin-bottom: 0px;
}


